/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

body {
  background-color: rgb(31, 31, 31);
  color: aliceblue;
  margin: 1%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
